version: 2
jobs:
  build:
    docker:
      - image: maven:3-jdk-8-alpine

    working_directory: ~/env-config

    environment:
      # Customize the JVM maximum heap limit
      MAVEN_OPTS: -Xmx3200m

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "pom.xml" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run: mvn dependency:go-offline

      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-{{ checksum "pom.xml" }}

      # run tests!
      - run: .circleci/run_tests.sh
      - store_test_results:
          path: target/surefire-reports/

  deploy:
    docker:
      - image: maven:3-jdk-8
    steps:
      - checkout
      - run:
          name: Push To Maven
          command: |
            echo "on a tag -> set pom.xml <version> to $CIRCLE_TAG"
            echo $GPG_SECRET_KEYS | base64 --decode | $GPG_EXECUTABLE --import
            echo $GPG_OWNERTRUST | base64 --decode | $GPG_EXECUTABLE --import-ownertrust
            mvn -q --settings .circleci/settings.xml org.codehaus.mojo:versions-maven-plugin:2.5:set -DnewVersion=$CIRCLE_TAG
            mvn -Prelease clean deploy --settings .circleci/settings.xml -B
      - store_test_results:
          path: target/surefire-reports/

workflows:
  version: 2
  build_and_deploy:
    jobs:
      - build
      - deploy:
          filters:
            tags:
              only: /.*/
            branches:
              ignore: /.*/
